@model Park

@{
    ViewData["Title"] = "Detail";
    DateTime date = new DateTime();
    date = DateTime.Now;
    string wikiSource = Model.QuoteSource.Replace(' ', '_');
}

<script>

    function bakeCookie() {
        if (readCookie("units") == null) {
            createCookie("units", "F");
        }
        getPreference();
    }

    window.onload = bakeCookie;

</script>

<h2 class="header">Park Detail</h2>

<div>
    <div class="image_quote">
        <img class=lg_park_image src="~/img/parks/@(Model.ParkCode).jpg" />
        <div class="middle">
            <a href="https://www.wikipedia.org/wiki/@wikiSource" target="_blank">
                <p class="quote">"@Model.Quote"</p>
                <p class="quote source">—@Model.QuoteSource</p>
            </a>
        </div>
    </div>

    <div>
        <h4 class="detail_name">@Model.ParkName</h4>
        <h5 class="detail_state">@Model.State</h5>
    </div>

    <div class="description">
        <p class="detail_description">@Model.Description</p>
        @if (Model.EntryFee > 0)
        {
            <p class="detail_description"><strong>Entry Fee: </strong>@Model.EntryFee.ToString("C")</p>
        }
    </div>

    <hr class="break" />

    <!-- Slideshow container -->
    <div class="slideshow-container">
        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="text">
                <h4 class="detail_header">Geography</h4>
                <table class="slideshow_table">
                    <thead>
                        <tr>
                            <th>area:</th>
                            <th>elevation:</th>
                            <th>climate:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Acreage.ToString("N0") acres</td>
                            <td>@Model.Elevation.ToString("N0") ft</td>
                            <td>@Model.Climate.ToLower()</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mySlides fade">
            <div class="text">
                <h4 class="detail_header">General</h4>
                <table class="slideshow_table">
                    <thead>
                        <tr>
                            <th>founded:</th>
                            <th>annual visitors:</th>
                            <th>campsites:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.YearFounded</td>
                            <td>@Model.AnnualVisitors.ToString("N0")</td>
                            <td>@Model.NumOfCampsites</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="mySlides fade">
            <div class="text">
                <h4 class="detail_header">Nature</h4>
                <table class="slideshow_table">
                    <thead>
                        <tr>
                            <th>trail:</th>
                            <th> </th>
                            <th>animal species:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.MilesOfTrail miles</td>
                            <td> </td>
                            <td>@Model.AnimalSpecies</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <br />
        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    </div>


    <div class="weather_wrapper">
        <div class="current_weather">
            <div><strong>CURRENT WEATHER:</strong></div>
            <div class="current_weather_icon">
                @if ((@ViewBag.Forecast[0].GetImageName()) == "cloudy.png")
                {
                    <i class="fas fa-cloud"></i>
                }
                @if ((@ViewBag.Forecast[0].GetImageName()) == "partlyCloudy.png")
                {
                    <i class="far fa-sun"></i> <i class="fas fa-cloud"></i>
                }
                @if ((@ViewBag.Forecast[0].GetImageName()) == "rain.png")
                {
                    <i class="fas fa-umbrella"></i>
                }
                @if ((@ViewBag.Forecast[0].GetImageName()) == "snow.png")
                {
                    <i class="far fa-snowflake"></i>
                }
                @if ((@ViewBag.Forecast[0].GetImageName()) == "sunny.png")
                {
                    <i class="far fa-sun"></i>
                }
                @if ((@ViewBag.Forecast[0].GetImageName()) == "thunderstorms.png")
                {
                    <i class="fas fa-bolt"></i>
                }
            </div>
            <div class="weather_table">
                <table>
                    <thead>
                        <tr>
                            <th>condition:</th>
                            <th>high:</th>
                            <th>low:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.Forecast[0].Description</td>
                            <td class="temp">@ViewBag.Forecast[0].HighTemp°F</td>
                            <td class="temp">@ViewBag.Forecast[0].LowTemp°F</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="weather_advice">
                <p class="advice_header"><strong>advice:</strong></p>
                <p>@ViewBag.Forecast[0].GetAdviceForWeather()</p>
                <p>@ViewBag.Forecast[0].GetAdviceForTemp()</p>
            </div>

            <button type="submit" id="temp_switch" class="btn" onclick="$(setPreference())">
                <strong>°F</strong> | °C
            </button>



        </div>

        <div class="future_weather">
            @for (int i = 1; i < ViewBag.Forecast.Count; i++)
            {
                <div class="future_weather_block">
                    <p><strong>@(date.AddDays(i).DayOfWeek)</strong></p>
                    <div class="future_weather_outline">
                        <div class="future_weather_icon">
                            @if ((@ViewBag.Forecast[i].GetImageName()) == "cloudy.png")
                            {
                                <i class="fas fa-cloud"></i>
                            }
                            @if ((@ViewBag.Forecast[i].GetImageName()) == "partlyCloudy.png")
                            {
                                <i class="far fa-sun"></i><i class="fas fa-cloud"></i>
                            }
                            @if ((@ViewBag.Forecast[i].GetImageName()) == "rain.png")
                            {
                                <i class="fas fa-umbrella"></i>
                            }
                            @if ((@ViewBag.Forecast[i].GetImageName()) == "snow.png")
                            {
                                <i class="far fa-snowflake"></i>
                            }
                            @if ((@ViewBag.Forecast[i].GetImageName()) == "sunny.png")
                            {
                                <i class="far fa-sun"></i>
                            }
                            @if ((@ViewBag.Forecast[i].GetImageName()) == "thunderstorms.png")
                            {
                                <i class="fas fa-bolt"></i>
                            }
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <th>High:</th>
                                    <th>Low:</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="temp">@ViewBag.Forecast[i].HighTemp°F</td>
                                    <td class="temp">@ViewBag.Forecast[i].LowTemp°F</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<hr class="white_hr" />

